body {
    background-color:white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
}

#up{
    display: flex;
    border-bottom: 0.5px solid gray;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#info{
    text-align: center;
}

#button{
    padding-right: 5rem;
}

#text{
    border-bottom: 0.5px solid gray;
    background-color: white;
}

#end{
    text-align: center;
    display: block;
    background-color: white;
    
}