body {
    background-color:white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#up{
    display: flex;
    border-bottom: 2px solid black;
    justify-content: space-between;
    align-items: center;
}

#info{
    text-align: center;
}

#button{
    padding-right: 5rem;
}