body {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
   background-color: white;
   line-height: 2;
}

#up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid black;
}

#info{
    text-align: center;
}

#button{
    padding-right: 5rem;
    justify-content: space-between;
    display: flex;
}

#text{
    border-bottom: 0.5px solid gray;
}

#end{
    text-align: center;
    display: block;
    
}